
/*----------------------------------------------------------
 Estilização básica para o corpo da página
 ----------------------------------------------------------- */

body {
  display: flex; /* Define o layout como flexível para facilitar o alinhamento */
  flex-direction: column; /* Organiza os elementos em uma coluna (verticalmente) */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  font-family: Arial, sans-serif; /* Define a fonte padrão para o texto */
  margin: 0; /* Remove as margens padrão do navegador */
  height: 100vh; /* Define a altura da página como 100% da altura da janela de visualização */
  background-color: #e7eca1; /* Define uma cor de fundo clara para a página */
}

/* Estilização do título principal */
h1 {
  margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
}

/* Estilização do elemento <canvas> */
canvas {
  border: 4px solid #29ff0d; /* Adiciona uma borda preta de 2px ao redor do canvas */
  background-color: #000000; /* Define um fundo branco para o canvas */
}
